---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Welcome from "../sections/Welcome.astro";
import Carrusel from "../sections/Carrusel.astro";
import Tarifas from "../sections/Tarifas.astro";
import Horarios from "../sections/Horarios.astro";
import Donde from "../sections/Donde.astro";
import Footer from "../sections/Footer.astro";
---

<Layout title="Gym evolution - Beniel">
    <section>
        <Header />
    </section>

    <section id="welcome">
        <Welcome />
    </section>

    <section id="carrusel">
        <Carrusel />
    </section>

    <section id="tarifas">
        <Tarifas />
    </section>

    <section id="horario">
        <Horarios />
    </section>

    <section id="mapa">
        <Donde />
    </section>

    <section id="contacto">
        <Footer />
    </section>
</Layout>
