---
import Nav from "./Nav.jsx";
---

<header class="w-full h-24 bg-nav opacity-10 flex justify-around items-center fixed">
    <h1 class="text-text-main font-bold text-2xl">GYM EVOLUTION BENIEL</h1>
    <Nav client:load />
</header>
