---
import Nav from "./navComponent/Nav.jsx";
---

<header class="w-full h-24 bg-[#21252A] opacity-90 flex justify-around items-center fixed z-50">
    <h1 class="text-[#F8F9FA] font-bold md:text-4xl text-2xl font-roboto">GYM EVOLUTION BENIEL</h1>
    <Nav client:load />
</header>
