<section class="w-full h-[80dvh] ">
<div class="w-full h-full flex flex-col justify-center items-center gap-9 pt-10 text-white font-bold">
    <h2 class="md:text-5xl text-4xl flex-grow text-[#F8F9FA] font-bebas">Dónde encontrarnos</h2>

    <iframe class="flex-grow w-[90%] h-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3142.6375737287935!2d-0.9956091235006127!3d38.0322278972871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd639c3b60a06cbd%3A0x7b95e79793d5040a!2sGym%20Evolution%2C%20Climent%20Club%20Murcia!5e0!3m2!1ses!2ses!4v1734458670836!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</section>