---
import Instagram from "../components/Instagram.astro";
import Facebook from "../components/Facebook.astro";
---

<section class="w-full h-[80dvh] pt-10 flex md:flex-row flex-col bg-[#495057] mt-12">
    <div class="md:w-1/2 w-full flex flex-col gap-4 md:gap-0 justify-center items-center px-5">
        <img
            class="h-auto object-contain"
            src="/logo.webp"
            alt="Logo gym evolution"
        />

        <h2 class="text-[#F8F9FA] font-bold md:text-3xl text-4xl md:px-20 text-center font-bebas">
            El éxito comienza con tu decisión, nosotros te ayudamos a alcanzarlo
        </h2>
    </div>

    <div class="md:w-1/2 w-full flex flex-col justify-around items-center h-full md:px-20 md:mt-0 mt-5">
        <h2
            class="flex justify-center items-center font-bold md:text-3xl text-2xl w-full h-20 md:mb-0 mb-4 text-[#F8F9FA] font-bebas"
        >
            Redes sociales
        </h2>

        <span class="flex gap-10 h-full w-full justify-center items-start">
            <a href="#"><Instagram /></a>
            <a href="#">
                <Facebook />
            </a>
        </span>
    </div>
</section>
