---

---

<section
    class="h-dvh bg-[url('/main-img.jpg')] bg-cover bg-center bg-no-repeat flex flex-col justify-center items-center"
>
    <h2 class="text-[#fafafa] text-center text-4xl font-bold font-roboto">
        Empieza <br /> tu transformación <span class="text-[#6C757D]">
            ahora
        </span>
    </h2>
</section>
